#container {
    display: inline;
}

.highcharts-container {
    display: inline-block;
}

.nav.nav-tabs {
    background-color: #ffffff;
}

.tab-pane h3 {
    margin-left: 20px;
}

body {
    margin-top: 75px;
}
