<ul class="nav nav-tabs navbar-inverse navbar-fixed-top" role="tablist" id="analysis-tabs">
	<li role="presentation" class="active">
		<a href="#tab-students" aria-controls="home" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-primary">Trusted students</button>
		</a>
	</li>
	<li role="presentation">
		<a href="#tab-response-time-plot" aria-controls="profile" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-success">Response time [plot]</button>
		</a>
	</li>
	<li role="presentation">
		<a href="#tab-response-time-t-test" aria-controls="profile" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-success">Response time [t-test]</button>
		</a>
	</li>
	<li role="presentation">
		<a href="#tab-answer-plot" aria-controls="messages" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-info">Answers [plot]</button>
		</a>
	</li>
	<li role="presentation">
		<a href="#tab-answer-t-test" aria-controls="messages" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-info">Answers [t-test]</button>
		</a>
	</li>
</ul>
