<ul class="nav nav-tabs navbar-fixed-top" role="tablist" id="analysis-tabs">
	<li>
		<a ui-sref="home.trusted" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-primary">Trusted students</button>
		</a>
	</li>
	<li>
		<a ui-sref="home.time-plot" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-success">Response time [plot]</button>
		</a>
	</li>
	<li>
		<a ui-sref="home.time-t-test" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-success">Response time [t-test]</button>
		</a>
	</li>
	<li>
		<a ui-sref="home.answer-plot" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-info">Answers [plot]</button>
		</a>
	</li>
	<li>
		<a ui-sref="home.answer-t-test" role="tab" data-toggle="tab">
			<button type="button" class="btn btn-info">Answers [t-test]</button>
		</a>
	</li>
</ul>
<div ui-view></div>
